# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# macOS crap
.DS_*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Specific files and artefacts
text/teletext/testdata/*.png
